EWS-analysis.ipynb
emtb_results/2020_SpecializedZermattEWS-E_Results_EWS-E_Pro.pdf
emtb_results/2020_SpecializedZermattEWS-E_Results_EWS-E50.pdf
emtb_results/2020_SpecializedZermattEWS-E_Results_EWS-E100.pdf
emtb_results/2020_VittoriaPietraLigureEWS-E_Results_EWS-E_Pro.pdf
emtb_results/2020_VittoriaPietraLigureEWS-E_Results_EWS-E50.pdf
emtb_results/2020_VittoriaPietraLigureEWS-E_Results_EWS-E100.pdf
emtb_results/2021_ews-petzen-jamnica_Results_EWS.pdf
emtb_results/2021_ews-petzen-jamnica_Results_EWS100.pdf
emtb_results/2021_ews-petzen-jamnica_Results_S1_Pro.pdf
emtb_results/2021_ews-petzen-jamnica_Sectors_S1_Pro.pdf
emtb_results/2021_ews-petzen-jamnica_Series_Rankings.pdf
emtb_results/2021_ews-petzen-jamnica_Team_Rankings.pdf
emtb_results/2021_ews-tweed-valley_Rankings_Series.pdf
emtb_results/2021_ews-tweed-valley_Rankings_Teams.pdf
emtb_results/2021_ews-tweed-valley_Results_EWS.pdf
emtb_results/2021_ews-tweed-valley_Results_EWS80.pdf
emtb_results/2021_ews-tweed-valley_Results_EWS100.pdf
emtb_results/2021_ews-tweed-valley_Results_Pro_Stage.pdf
emtb_results/2021_ews-tweed-valley_Split_S1.pdf
emtb_results/2021_ews-tweed-valley_Split_S3.pdf
emtb_results/2021_ews-tweed-valley_Split_S5.pdf
emtb_results/2021_ews-tweed-valley_Split_S6.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Results_EWS.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Results_EWS100.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Sector_Times_S3.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Sector_Times_S5.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Series_Rankings.pdf
emtb_results/2021_ews-val-di-fassa-trentino_Team_Rankings.pdf
emtb_results/2021_ews-whistler_Results_EWS.pdf
emtb_results/2021_ews-whistler_Results_EWS80.pdf
emtb_results/2021_ews-whistler_Results_EWS100.pdf
emtb_results/2021_ews-whistler_Results_Pro_Stage.pdf
emtb_results/2021_ews-whistler_Series_Rankings.pdf
emtb_results/2021_ews-whistler_Team_Rankings.pdf
emtb_results/2021_SpecializedEWS-ECrans-Montana_E50.pdf
emtb_results/2021_SpecializedEWS-ECrans-Montana_E100.pdf
emtb_results/2021_SpecializedEWS-ECrans-Montana_EWS-E.pdf
emtb_results/2022_EWS-E50PetzenJamnica_Results_E50.pdf
emtb_results/2022_EWS-E50TweedValley_Results_E50.pdf
emtb_results/2022_EWS-E100PetzenJamnica_Results_E100.pdf
emtb_results/2022_EWS-E100TweedValley_Results_E100.pdf
ews_results/2018_BlackHoleEnduroPetzenJamnica_Results_R4_Petzen_SLO_2018.pdf
ews_results/2018_BluegrassFinalEnduropoweredbySRAM_Results_R8_Finale_ITA_2018.pdf
ews_results/2018_CamelBakCanadianOpenEnduropresentedbySpecialized_Results_R6_Whistler_CAN_2018.pdf
ews_results/2018_EWS-AlcaldiadeManizales-Masoportunidades_Results_R2_Manizales_COL_2018.pdf
ews_results/2018_EWSMontagnesduCaroux2018_Results_R3_Olargues_FRA_2018.pdf
ews_results/2018_FestivalZonaZeroSobrarbe_Results_R7_Ainsa_ESP_2018.pdf
ews_results/2018_LaThuileEnduroWorldSeries_Results_R5_LaThuile_ITA_2018.pdf
ews_results/2018_LoBarnecheaMontenbaikEnduro_Results_R1_LoBarnechea_CHI_2018.pdf
ews_results/2019_METValDiFassaEWS2019_Results_EWS.pdf
ews_results/2019_METValDiFassaEWS2019_Results_EWS100.pdf
ews_results/2019_TRAILLOVE-AlpineMountainBikeFestivalZermatt2019_Results_EWS.pdf
ews_results/2019_TRAILLOVE-AlpineMountainBikeFestivalZermatt2019_Results_EWS100.pdf
ews_results/2020_BluegrassEWSFinaleLigure_Results_EWS.pdf
ews_results/2020_VittoriaEWSPietraLigure2020_Results_.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_EWS.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_EWS80.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_EWS100.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_Sectors_S1.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_Sectors_S2.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_Sectors_S3.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_Sectors_S4.pdf
ews_results/2021_BluegrassEWSFinalepresentedbyVittoria_Sectors_S5.pdf
ews_results/2021_ews-petzen-jamnica_Results_EWS.pdf
ews_results/2021_ews-petzen-jamnica_Results_EWS100.pdf
ews_results/2021_ews-petzen-jamnica_Results_S1_Pro.pdf
ews_results/2021_ews-petzen-jamnica_Sectors_S1_Pro.pdf
ews_results/2021_ews-petzen-jamnica_Series_Rankings.pdf
ews_results/2021_ews-petzen-jamnica_Team_Rankings.pdf
ews_results/2021_ews-tweed-valley_Rankings_Series.pdf
ews_results/2021_ews-tweed-valley_Rankings_Teams.pdf
ews_results/2021_ews-tweed-valley_Results_EWS.pdf
ews_results/2021_ews-tweed-valley_Results_EWS80.pdf
ews_results/2021_ews-tweed-valley_Results_EWS100.pdf
ews_results/2021_ews-tweed-valley_Results_Pro_Stage.pdf
ews_results/2021_ews-tweed-valley_Split_S1.pdf
ews_results/2021_ews-tweed-valley_Split_S3.pdf
ews_results/2021_ews-tweed-valley_Split_S5.pdf
ews_results/2021_ews-tweed-valley_Split_S6.pdf
ews_results/2021_ews-val-di-fassa-trentino_Results_EWS.pdf
ews_results/2021_ews-val-di-fassa-trentino_Results_EWS100.pdf
ews_results/2021_ews-val-di-fassa-trentino_Sector_Times_S3.pdf
ews_results/2021_ews-val-di-fassa-trentino_Sector_Times_S5.pdf
ews_results/2021_ews-val-di-fassa-trentino_Series_Rankings.pdf
ews_results/2021_ews-val-di-fassa-trentino_Team_Rankings.pdf
ews_results/2021_ews-whistler_Results_EWS.pdf
ews_results/2021_ews-whistler_Results_EWS80.pdf
ews_results/2021_ews-whistler_Results_EWS100.pdf
ews_results/2021_ews-whistler_Results_Pro_Stage.pdf
ews_results/2021_ews-whistler_Series_Rankings.pdf
ews_results/2021_ews-whistler_Team_Rankings.pdf
ews_results/2021_EWSCrans-Montana_EWS.pdf
ews_results/2021_EWSCrans-Montana_EWS80.pdf
ews_results/2021_EWSCrans-Montana_EWS100.pdf
ews_results/2021_EWSCrans-Montana_Results_EWS_PRO_Stage.pdf
ews_results/2021_EWSCrans-Montana_Split_S1.pdf
ews_results/2021_EWSCrans-Montana_Split_S2.pdf
ews_results/2021_EWSCrans-Montana_Split_S3.pdf
ews_results/2021_EWSCrans-Montana_Split_S4.pdf
ews_results/2021_EWSCrans-Montana_Split_S5.pdf
ews_results/2021_MetEWSValdiFassaTrentino1_Results_Val_di_Fassa_1.pdf
ews_results/2021_MichelinEWSLoudenvielle1_Results_EWS_1.pdf
ews_results/2021_MichelinEWSLoudenvielle1_Split_Times_S1.pdf
ews_results/2021_MichelinEWSLoudenvielle1_Split_Times_S2.pdf
ews_results/2021_MichelinEWSLoudenvielle1_Split_Times_S3.pdf
ews_results/2021_MichelinEWSLoudenvielle1_Split_Times_S4.pdf
ews_results/2021_VittoriaEWSLaThuile1_Results.pdf
ews_results/2021_VittoriaEWSLaThuile1_Split_Times_S1.pdf
ews_results/2021_VittoriaEWSLaThuile1_Split_Times_S2.pdf
ews_results/2021_VittoriaEWSLaThuile1_Split_Times_S3.pdf
ews_results/2021_VittoriaEWSLaThuile1_Split_Times_S4.pdf
ews_results/2021_VittoriaEWSLaThuile2_Results_EWS_2.pdf
ews_results/2021_VittoriaEWSLaThuile2_Results_EWS80.pdf
ews_results/2021_VittoriaEWSLaThuile2_Results_EWS100.pdf
ews_results/2021_VittoriaEWSLaThuile2_Split_Times_1PRO.pdf
ews_results/2021_VittoriaEWSLaThuile2_Split_Times_S2.pdf
ews_results/2021_VittoriaEWSLaThuile2_Split_Times_S3.pdf
ews_results/2021_VittoriaEWSLaThuile2_Split_Times_S4.pdf
ews_results/2021_VittoriaEWSLaThuile2_Split_Times_S5.pdf
